.page {
  @apply flex justify-center items-center h-screen;
}

.content {
  @apply flex justify-between;
}

.list {
}

.color {
  background-color: rgb(146, 146, 146);
}

.radius {
  border-radius: 50%;
}

.hover {
  &:hover {
    cursor: pointer;
    background: black;
    transition: all 0.3s;
    transform: scale(1.1);
  }
}

.pokemon_item {
  @apply flex color opacity-80 text-lg capitalize text-white mb-2.5 items-center justify-center overflow-hidden font-bold p-2 rounded-l-full;
  @apply hover;
}

.pokemon_item_active {
  @apply bg-red-400;

  @apply hover:bg-red-400;
}

.pokemon_item_image {
  @apply radius w-16 h-16 opacity-100 scale-100;
}

.card {
  @apply flex flex-col p-4;
}

.card_title {
  @apply flex justify-between items-center;
}

.card_title_name {
  @apply text-2xl font-bold capitalize;
}

.card_title_id {
  @apply text-lg capitalize font-normal;
}
